@keyframes open-right-panel {
    0% {
        right: -20%;
    }

    100% {
        right: 0;
    }
}

@keyframes open-line {
    0% {
        width: 20%;
    }

    100% {
        width: 100%;
    }
}

@keyframes close-line {
    0% {
        width: 100%;
    }

    100% {
        width: 20%;
    }
}