* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#page,
html {
    overflow-x: hidden;
}

.header-cap {
    display: flex;
    align-items: center;
    position: fixed;
    min-width: 100%;
    height: 8vh;
    border-bottom: 1px solid #B8B8B8;
    background-color: #ffffff;
}

.header-cap__header-items {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    min-width: 100%;
    min-height: 100%;
}

.header-cap__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-cap__svg-logo {
    min-width: 53px;
    min-height: auto;
}

.header-cap__svg-logo:hover .branch {
    fill: #000000 !important;
    transition: fill 0.5s;
}

.header-cap__svg-logo:hover .cubes {
    fill: #ff0000 !important;
    transition: fill 0.5s;
}

.header-cap__svg-logo:not(:hover) .branch {
    fill: #ff0000;
    transition: fill 0.5s;
}

.header-cap__svg-logo:not(:hover) .cubes {
    fill: #000000 !important;
    transition: fill 0.5s;
}

.header-cap__svg-logo:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.header-cap__svg-logo:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s;
}

.header-cap__nav {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
    align-items: center;
}

.header-cap__menu {
    display: flex;
    align-items: center;
    padding-right: 30px;
}

.header-cap__svg-menu {
    min-width: 42px;
    min-height: auto;
}

.header-cap__svg-menu:hover .stroke {
    fill: #000000 !important;
    transition: fill 0.5s;
}

.header-cap__svg-menu:not(:hover) .stroke {
    fill: #ff0000;
    transition: fill 0.5s;
}

.header-cap__svg-menu:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.header-cap__svg-menu:not(:hover) {
    transform: scale(1);
    transition: transform 0.5s;
}

.header-cap__about-us {
    margin-right: 3vw;
    font-size: 21px;
    cursor: pointer;
    font-family: fantasy, sans-serif;
    text-align: center;
    text-wrap: nowrap;
}

.header-cap__about-us:hover {
    transform: scale(1.1);
    color: #ff0000 !important;
    transition: all 0.5s;
}

.header-cap__about-us:hover .first-letter-style {
    color: #000000;
    transition: all 0.5s;
}


.header-cap__about-us:not(:hover),
.header-cap__about-us:not(:hover) .first-letter-style {
    transform: scale(1);
    color: #ff0000;
    transition: all 0.4s;
}

.header-cap__link,
.header-cap__link:visited {
    text-decoration: none;
    color: #000000;
}

.header-cap__link:hover {
    color: #ff0000;
    transition: all 0.5s;
}

.header-cap__link:not(:hover) {
    color: #000000;
    transition: all 0.5s;
}

#button-menu {
    border: none;
    background-color: #ffffff;
}

#menu__right-panel {
    position: fixed;
    right: 0;
    min-width: 20%;
    height: 100%;
    background-color: #ffffff;
    border-left: 1px solid #dadada;
    display: none;
    animation-name: open-right-panel;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}

.menu__name {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 8vh;
    text-align: center;
    font-size: 30px;
    margin-bottom: -1px;
}

.menu__item,
.menu__item-close {
    font-family: fantasy, sans-serif;
    margin-top: 50px;
    border-bottom: 1px solid #B8B8B8;
}

.menu__item-close {
    text-align: center;
}

.menu__item:hover,
.menu__item-close:hover,
.menu__item-close:hover #button-close-menu {
    transform: scale(1.1);
    color: #ff0000 !important;
    border-bottom: 1px solid #ff0000;
    transition: all 0.5s;
    cursor: pointer;
}

.menu__item:not(:hover),
.menu__item-close:not(:hover),
.menu__item-close:not(:hover) #button-close-menu {
    transform: scale(1);
    color: #000000;
    transition: all 0.5s;
}

.first-letter-style {
    color: #ff0000;
}

.right-panel__container-items {
    width: 70%;
    margin: auto;
}

#button-close-menu {
    margin-bottom: 5px;
    border: none !important;
    width: 100%;
    height: 100%;
    font-family: fantasy, sans-serif;
    font-size: 20px;
    background-color: #ffffff;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding-top: 7vh;
    min-height: 100%;
}

.img {
    width: 35vw;
    height: 93vh;
}

.wrapper__why-we {
    padding: 10px 0 0 70px;
    font-size: 30px;
    font-weight: 700;
    text-wrap: nowrap;
}

.wrapper__block-1 {
    margin-top: 20px;
}

.wrapper__block-1:hover,
.wrapper__block-2:hover,
.wrapper__block-3:hover{
    box-shadow: 5px 5px 2px #B8B8B8;
    width: 55.3vw;
    height: 20.3vh;
    transition: all 0.5s;
}

.wrapper__block-1:not(:hover),
.wrapper__block-2:not(:hover),
.wrapper__block-3:not(:hover){
    box-shadow: none;
    width: 55vw;
    height: 20vh;
    transition: all 0.5s;
}

.wrapper__block-1,
.wrapper__block-2,
.wrapper__block-3 {
    background-image: url('../images/image2.png');
    background-size: cover;
    display: grid;
    grid-template-columns: 6fr 1fr;
    gap: 10px;
    padding-right: 5vw;
    width: 55vw;
    height: 20vh;
    padding-left: 8vw;
}

.block-1,
.block-2,
.block-3 {
    text-align: center;
}

.ul-list {
    text-align: center;
    margin-bottom: 2vh;
    list-style-type: square;
}

.block-1__color,
.block-2__color,
.block-3__color {
    padding-top: 10px;
    color: #000000;
    text-shadow:
        -1px 0 #ffffff,
        0 -1px #ffffff,
        1px 0 #ffffff,
        0 1px #ffffff;
}

.wrapper__block-2,
.wrapper__block-3 {
    margin-top: 2vh;
}

.why-we__answer {
    margin-right: 5vw;
}

.img-first-line {
    width: 20%;
    padding-top: 5vh;
    animation-name: open-line;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
} 

.img-first-line__img-line {
    max-width: 100%;
    min-height: 100px;
}

.about-us {
    padding: 51px;
    font-size: 30px;
    font-family: fantasy, sans-serif;
}

.about-us__color-for-about-us {
    color: #ff0000;
}

.about-us__padding {
    padding-top: 31px;
}

.our-team-img {
    width: 100%;
    height: 20%;
}

.our-team-img__main-img {
    max-width: 100%;
    padding: 10px;
}

.count-team {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}

.number-size__color {
    color: #ff0000;
}

.text-size {
    font-size: 25px;
}

.count-team__border-right {
    border-right: 2px solid #B8B8B8;
}

.count-team__border-right:hover {
    background-color: #B8B8B8;
    border: 2px solid #373737 !important;
    transition: all 0.5s;
}

.count-team__border-right:hover .number-size,
.count-team__border-right:hover .number-size__color{
    font-size: 50px;
    transition: all 0.5s;
}

.count-team__border-right:hover .text-size {
    font-size: 25px;
    transition: all 0.5s;
}

.count-team__border-right:not(:hover) .number-size,
.count-team__border-right:not(:hover) .number-size__color {
    font-size: 60px;
    transition: 0.5s;
} 

.count-team__border-right:not(:hover) .text-size {
    font-size: 30px;
    transition: all 0.5s;
}

.count-team__border-right:last-child {
    border: none;
}